
DashApp/.DS_Store
*.pyc
*.pyc
DashApp/__pycache__/sidebar.cpython-38.pyc
DashApp/__pycache__/news.cpython-38.pyc
DashApp/__pycache__/kpi.cpython-38.pyc
*.pyc
DashApp/__pycache__/sidebar.cpython-38.pyc
DashApp/__pycache__/kpi.cpython-38.pyc
*.pyc
*.pyc
