/* Table of contents ––––––––––––––––––––––––––––––––––––––––––––––––––
- Base Styles
 - Typography
 - Links
 - Buttons
 - Forms
 - Lists
 - Code
 - Tables
 - Spacing
 - Utilities
 - Clearing
 - Media Queries
 - Custom App CSS */


body {
    font-family: Arial, Helvetica, sans-serif;
}

#Header {
    padding: 1%;
}

#Header h1 {
    font-weight: bold;
}

#side {
    padding: 1%;
    display: flex;
}

/* Navigation */

#navigation {
    width: 20%;
    vertical-align: middle;
    align-items: stretch;
    background-color: #F6F6F6;
    padding: 1%;
    top: 0%;
    bottom: 0%;
    left: 0%;
}
/* 
#dropdown {
    border: 0;
    box-shadow: 2.5px 5px 4px silver;
} */

#button_search{
    background-color: #E5E5E5;
    color: black;
    border: 0;
}

#button-search:hover {
    box-shadow: 5px 12px 16px 0 silver, 0 17px 50px 0 silver;
  }

#navigation_point_one, #navigation_point_two, #navigation_point_three{
    background-color: #E5E5E5;
    color: black;
    border-radius: 0;
    text-align: center;
}

#navigation_point_one.active, #navigation_point_two.active, #navigation_point_three.active{
    background-color: #67E98B;
}

#quote_sidebar {
    font-family: Monaco, sans-serif;
    text-align: center;
}

#quote_sidebar H6{
    font-weight: bold;
}

/* Content */

#page_content{
    width: 75%;
    vertical-align: middle;
}

#content {
    width: 100%;
    vertical-align: middle;
    height: 100%;
}

#content-header {
    font-weight: bold;
    margin: 1%;
}

/* KPI widget */

#kpi_widget {
    width: 48%;
    height: 25%;
    display: inline-block;
    vertical-align: middle;
    background-color: #F6F6F6;
    margin: 1%;
    box-shadow: 5px 10px 7.5px silver;
}

#kpi_widget_text{
    width: 40%;
    margin: 5%;
    display: inline-block;
}

#kpi_widget_header{
    font-size: 80%;
}

#kpi_widget_key {
    font-size: 150%;
    font-weight: bold;
}

#kpi_widget_pos{
    color: lightgreen;
    font-size: 80%;
}

#kpi_widget_esg{
    font-size: 200%;
    vertical-align: middle;
    text-align: center;
}

/*News Widget*/

#news_widget {
    width: 48%;
    display: inline-block;
    vertical-align: middle;
    background-color: #F6F6F6;
    margin: 1%;
    box-shadow: 5px 10px 7.5px silver;
}


#news_widget_text{
    width: 40%;
    margin: 5%;
    display: inline-block;
}

#news_widget_header{
    font-size: 80%;
}


#news_widget_pos{
    color: lightgreen;
    font-size: 80%;
}

